<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041412568525-dtrprae2620qffucjtrh70tn829b2gsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041412568525-dtrprae2620qffucjtrh70tn829b2gsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041412568525-sto1pneke8v8198034ve5o3fm2hcdoeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHQ68F2cjmySj-oMbzgFl3iNFpfV_1gpY</string>
	<key>GCM_SENDER_ID</key>
	<string>1041412568525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.nexussports.app</string>
	<key>PROJECT_ID</key>
	<string>nexus-9efd2</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-9efd2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041412568525:ios:cb27efcf9b428d079d4084</string>
</dict>
</plist>